.App {
   margin: 0;
   text-align: center;
   align-content: center;
}

.App-link {
   color: #61dafb;
}

img {
   height: 350px;
   width: 350px;
   object-fit: cover;
   border-radius: 15px;
}

li {
   list-style-type: none;
}

img.avatar {
   height: 120px;
   width: 120px;
   border-radius: 50%;
   object-fit: cover;
}

.header {
   padding-top: 10px;
   padding-bottom: 10px;
   background-image: url("https://images.pexels.com/photos/585750/pexels-photo-585750.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
   background-position: center;
   opacity: 0.8;
}

.footer {
   padding-top: 10px;
   padding-bottom: 10px;
   background-image: url("https://images.pexels.com/photos/585750/pexels-photo-585750.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
   background-position: center;
   opacity: 0.8;
   width: 100%;
   position: relative;
   bottom: 0;
}
