.App {
   margin: 0;
   text-align: center;
   align-content: center;
   position: relative;
   min-height: 100vh;
}

h1 {
   margin-top: 0px;
   margin-bottom: 0;
   font-family: "Amatic SC", cursive;
   font-size: 100px;
   color: #0a4178;
}

img {
   height: 350px;
   width: 350px;
   object-fit: cover;
   border-radius: 15px;
}

li {
   list-style-type: none;
}

img.avatar {
   height: 120px;
   width: 120px;
   border-radius: 50%;
   object-fit: cover;
}

.header-content {
   width: 150px;
   height: 150px;
   position: absolute;
   top: 3%;
   left: 5%;
   border-radius: 50%;
   display: inline-block; 
   overflow: hidden; 
}

#cfLogo {
   position: absolute;
   width: 250px;
   height: 250px;
   right: -33%;
   top: -33%;
}

.header {
   padding-top: 10px;
   padding-bottom: 20px;
   background-image: url("https://images.pexels.com/photos/585750/pexels-photo-585750.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
   background-position: center;
   opacity: 0.9;
}

.footer {
   padding-top: 10px;
   background-image: url("https://images.pexels.com/photos/585750/pexels-photo-585750.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
   background-position: center;
   opacity: 0.9;
   width: 100%;
   position: absolute;
   bottom: 0;
   font-weight: bold;
}

.bottom-div,
.MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-3 {
   padding-top: 30px;
   padding-bottom: 8%;
}

.bottom-div-2 {
   padding-top: 30px;
   padding-bottom: 15%;
}

#COTD {
   display: flex;
   justify-content: center;
}

.signup-form,
.checkbox {
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 200px;
   margin: 0 auto;
}

.signup-form-2 {
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 300px;
   margin: 0 auto;
}

label {
   padding-bottom: 5px;
}

select {
   padding: 9px 9px;
   border: none;
   border: solid 1px #ccc;
   border-radius: 2px;
}

input {
   padding: 10px 9px;
   border: none;
   border: solid 1px #ccc;
   border-radius: 2px;
}

.signup-form li input {
   margin-top: 5px;
}

ul {
   padding: 0;
   list-style-type: none;
}

.header-ul {
   display: flex;
   width: 40%;
   margin: 0 auto;
   margin-bottom: 20px;
   justify-content: space-between;
}

.review {
   border: 10px solid #eed8c0;
   /* background-image: url("https://media.istockphoto.com/photos/white-foam-picture-id538533607"); */
   background-color: rgb(241, 239, 239);
   padding-bottom: 10px;
   border-radius: 15% 15% 50% 50%;
   width: 55%;
   margin: auto;
}

.MuiButtonBase-root.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary {
   background-color: #0a4178;
   color: white;
   font-weight: bold;
   opacity: 0.95;
}

.centerReview {
   margin: auto;
}
